Trade/Daily News Analyze.json
{
  "name": "Daily News Analyze",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1216,
        112
      ],
      "id": "2ff4dcaa-366a-49a9-928c-c089d2f67ec5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "-1003587927590",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        816,
        112
      ],
      "id": "eaaefc83-5b1b-4d1f-b53f-61e861e8c415",
      "name": "Send News Analyze",
      "webhookId": "a257c41e-1e2b-44aa-91cf-77b1a8379365",
      "credentials": {
        "telegramApi": {
          "id": "rPxnXjHRtoZJkj36",
          "name": "EA&Ai"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ JSON.stringify($json.news) }}"
            }
          ]
        },
        "builtInTools": {
          "googleSearch": true
        },
        "options": {
          "systemMessage": "=[System Prompt]\nYou are a Macroeconomic Risk Manager and a strict HTML renderer.\nYour task is to analyze today's economic calendar, filter for High/Medium impact news (USD, GBP, EUR, JPY), calculate \"No Trade Zones\" (-30 mins to +30 mins), and format the output strictly using the provided Satori HTML Template.\n\n### 🚫 CRITICAL SATORI RULES (ZERO TOLERANCE):\n1. You MUST use the EXACT HTML template provided below. Do not change the layout, do not add <br>, do not use <b> or <strong> tags.\n2. Every new line of news must be generated by copying the EXACT `<div style=\"display: flex; flex-direction: row;...` structure shown in the template.\n3. OUTPUT RAW HTML ONLY. Do not wrap the output in ```html ... ``` markdown blocks.\n4. If there is NO high/medium impact news, output \"ไม่มีข่าวสำคัญ เทรดได้ตามปกติ\" in the No Trade Zone section.\n\n### 📝 THE HTML TEMPLATE TO FILL AND OUTPUT:\n\n<div style=\"display: flex; flex-direction: column; width: 800px; background-color: #0b1120; padding: 40px; font-family: 'NotoSansThai', sans-serif;\">\n  \n  <div style=\"display: flex; flex-direction: row; border-bottom: 2px solid #1e293b; padding-bottom: 20px; margin-bottom: 30px;\">\n    <span style=\"display: flex; font-size: 40px; color: #38bdf8; font-weight: bold;\">📰 สรุปข่าวเศรษฐกิจวันนี้</span>\n  </div>\n\n  <div style=\"display: flex; flex-direction: column; margin-bottom: 30px;\">\n    <span style=\"display: flex; font-size: 24px; color: #94a3b8; margin-bottom: 16px;\">สรุปข่าวสำคัญ (High / Medium):</span>\n    \n    <div style=\"display: flex; flex-direction: row; margin-bottom: 12px; align-items: center;\">\n      <span style=\"display: flex; font-size: 24px; margin-right: 12px; color: #ef4444;\">🔴</span>\n      <span style=\"display: flex; font-size: 24px; color: #f8fafc;\">[TIME] ([CURRENCY]): [TRANSLATE NEWS TITLE TO THAI]</span>\n    </div>\n    </div>\n\n  <div style=\"display: flex; flex-direction: column; background-color: #450a0a; border: 2px solid #7f1d1d; border-radius: 12px; padding: 24px;\">\n    <span style=\"display: flex; font-size: 28px; color: #fca5a5; font-weight: bold; margin-bottom: 16px;\">🛡️ ช่วงเวลาห้ามเทรด (No Trade Zones):</span>\n    \n    <div style=\"display: flex; flex-direction: row; margin-bottom: 10px;\">\n      <span style=\"display: flex; font-size: 24px; color: #fecaca;\">- [START_TIME] - [END_TIME] น. (เนื่องจากข่าว [CURRENCY])</span>\n    </div>\n    </div>\n  \n</div>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -48,
        112
      ],
      "id": "a9ed40c3-12f2-4bd7-b039-4620226b5520",
      "name": "News Analyze",
      "credentials": {
        "googlePalmApi": {
          "id": "13SUOqvodHNiJ8VZ",
          "name": "Sing API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://fxsync.ezy-journey.com/api/summary",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{ \"x-api-key\": \"fx_7dbf211fdc23c3ac958f77cacabc8d8fd633d74070a5ef46fcdc76616796569f\" }\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -368,
        96
      ],
      "id": "bbcbcee7-8618-4909-8b4c-0624536d5466",
      "name": "Summary"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "qOpEMaPeskREh4JT",
          "mode": "list",
          "cachedResultName": "FX Sync",
          "cachedResultUrl": "/projects/OmF2lntdNkLbn7OQ/datatables/qOpEMaPeskREh4JT"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "News_Daily": "={{ $json.content.parts[0].text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "D1_Weekly",
              "displayName": "D1_Weekly",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "News_Daily",
              "displayName": "News_Daily",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "H4_H1_Summary",
              "displayName": "H4_H1_Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        816,
        -80
      ],
      "id": "de312ee1-fbe8-49e0-8b00-cf67dba980ad",
      "name": "Upsert row(s)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1040,
        112
      ],
      "id": "f621f677-78a4-42b0-9b5d-8bd8d53a8171",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=",
        "options": {},
        "files": {
          "values": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        848,
        336
      ],
      "id": "67c8c67b-3ee8-45d6-a280-70b2bcecea46",
      "name": "Discord",
      "webhookId": "0de7849e-ec16-46e7-9191-849d2b4eb182",
      "credentials": {
        "discordWebhookApi": {
          "id": "6ywz9uMR2dwDPWwc",
          "name": "Discord SIG"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// รับค่าเวลาปัจจุบัน และปรับให้อยู่ใน Timezone Asia/Bangkok (+07:00)\nconst now = new Date(new Date().toLocaleString('en-US', {timeZone: 'Asia/Bangkok'}));\nconst day = now.getDay(); // 0 = อาทิตย์, 1 = จันทร์, ..., 6 = เสาร์\nconst hour = now.getHours();\n\nlet isMarketOpen = true;\n\n// เช็คเงื่อนไขวันหยุดตลาด Forex (เวลาไทย)\nif (day === 0) {\n  // วันอาทิตย์ = ปิดทั้งวัน\n  isMarketOpen = false;\n} else if (day === 6 && hour >= 4) {\n  // วันเสาร์ ตั้งแต่ 04:00 น. เป็นต้นไป = ปิด\n  isMarketOpen = false;\n} else if (day === 1 && hour < 4) {\n  // วันจันทร์ ก่อน 04:00 น. = ปิด\n  isMarketOpen = false;\n}\n\nreturn {\n  isMarketOpen: isMarketOpen,\n  currentDay: day,\n  currentHour: hour,\n  status: isMarketOpen ? 'OPEN' : 'CLOSED'\n};\n"
      },
      "id": "f5b0a820-828d-4c12-bd99-a43a46637302",
      "name": "Check Forex Market Hours",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -944,
        112
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -224,
        448
      ],
      "id": "bda151d8-b09e-4f48-9dd0-461487702a09",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "75f502ff-b720-4823-a47e-83b490d846bc",
              "leftValue": "={{ $json.isMarketOpen }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -656,
        112
      ],
      "id": "96769a0d-2937-4685-81de-a5b73ce57456",
      "name": "Check Market IsOpen"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ezy-himg.ezyjourney7.workers.dev/api/image",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "html",
              "value": "={{ $json.content.parts[0].text }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        528,
        112
      ],
      "id": "d9b3268e-e30a-4b49-95d8-8da5761a0e3b",
      "name": "HTML to Image"
    }
  ],
  "pinData": {
    "News Analyze": [
      {
        "json": {
          "content": {
            "parts": [
              {
                "text": "<div style=\"display: flex; flex-direction: column; width: 800px; background-color: #0b1120; padding: 40px; font-family: 'NotoSansThai', sans-serif;\">\n  \n  <div style=\"display: flex; flex-direction: row; border-bottom: 2px solid #1e293b; padding-bottom: 20px; margin-bottom: 30px;\">\n    <span style=\"display: flex; font-size: 40px; color: #38bdf8; font-weight: bold;\">📰 สรุปข่าวเศรษฐกิจวันนี้</span>\n  </div>\n\n  <div style=\"display: flex; flex-direction: column; margin-bottom: 30px;\">\n    <span style=\"display: flex; font-size: 24px; color: #94a3b8; margin-bottom: 16px;\">สรุปข่าวสำคัญ (High / Medium):</span>\n    \n    <div style=\"display: flex; flex-direction: row; margin-bottom: 12px; align-items: center;\">\n      <span style=\"display: flex; font-size: 24px; margin-right: 12px; color: #ef4444;\">🔴</span>\n      <span style=\"display: flex; font-size: 24px; color: #f8fafc;\">06:29 (EUR): ดัชนีราคาผู้บริโภคเบื้องต้นของเยอรมนี (เดือนต่อเดือน)</span>\n    </div>\n    <div style=\"display: flex; flex-direction: row; margin-bottom: 12px; align-items: center;\">\n      <span style=\"display: flex; font-size: 24px; margin-right: 12px; color: #ef4444;\">🔴</span>\n      <span style=\"display: flex; font-size: 24px; color: #f8fafc;\">14:30 (USD): ประธาน Fed Powell แถลง</span>\n    </div>\n    <div style=\"display: flex; flex-direction: row; margin-bottom: 12px; align-items: center;\">\n      <span style=\"display: flex; font-size: 24px; margin-right: 12px; color: #ef4444;\">🔴</span>\n      <span style=\"display: flex; font-size: 24px; color: #f8fafc;\">23:30 (JPY): ดัชนีราคาผู้บริโภคพื้นฐานโตเกียว (ปีต่อปี)</span>\n    </div>\n    </div>\n\n  <div style=\"display: flex; flex-direction: column; background-color: #450a0a; border: 2px solid #7f1d1d; border-radius: 12px; padding: 24px;\">\n    <span style=\"display: flex; font-size: 28px; color: #fca5a5; font-weight: bold; margin-bottom: 16px;\">🛡️ ช่วงเวลาห้ามเทรด (No Trade Zones):</span>\n    \n    <div style=\"display: flex; flex-direction: row; margin-bottom: 10px;\">\n      <span style=\"display: flex; font-size: 24px; color: #fecaca;\">- 05:59 - 06:59 น. (เนื่องจากข่าว EUR)</span>\n    </div>\n    <div style=\"display: flex; flex-direction: row; margin-bottom: 10px;\">\n      <span style=\"display: flex; font-size: 24px; color: #fecaca;\">- 14:00 - 15:00 น. (เนื่องจากข่าว USD)</span>\n    </div>\n    <div style=\"display: flex; flex-direction: row; margin-bottom: 10px;\">\n      <span style=\"display: flex; font-size: 24px; color: #fecaca;\">- 23:00 - 00:00 น. (เนื่องจากข่าว JPY)</span>\n    </div>\n    </div>\n  \n</div>"
              }
            ],
            "role": "model"
          },
          "finishReason": "STOP",
          "index": 0,
          "groundingMetadata": {}
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Summary": [
      {
        "json": {
          "images": [
            {
              "id": 563,
              "symbol": "XAUUSD",
              "timeframe": "D1",
              "url": "https://fx-image.ezy-journey.com/TF_D1_92ac326c.png",
              "createdAt": "2026-03-30T04:10:34.567Z"
            },
            {
              "id": 562,
              "symbol": "XAUUSD",
              "timeframe": "H4",
              "url": "https://fx-image.ezy-journey.com/TF_H4_0c3b438d.png",
              "createdAt": "2026-03-30T04:10:33.307Z"
            },
            {
              "id": 561,
              "symbol": "XAUUSD",
              "timeframe": "H1",
              "url": "https://fx-image.ezy-journey.com/TF_H1_910f2b80.png",
              "createdAt": "2026-03-30T04:10:32.056Z"
            },
            {
              "id": 560,
              "symbol": "XAUUSD",
              "timeframe": "M30",
              "url": "https://fx-image.ezy-journey.com/TF_M30_9337bf29.png",
              "createdAt": "2026-03-30T04:10:30.824Z"
            },
            {
              "id": 559,
              "symbol": "XAUUSD",
              "timeframe": "M15",
              "url": "https://fx-image.ezy-journey.com/TF_M15_902880e2.png",
              "createdAt": "2026-03-30T04:10:29.481Z"
            },
            {
              "id": 558,
              "symbol": "XAUUSD",
              "timeframe": "M5",
              "url": "https://fx-image.ezy-journey.com/TF_M5_66f32396.png",
              "createdAt": "2026-03-30T04:10:28.275Z"
            },
            {
              "id": 557,
              "symbol": "XAUUSD",
              "timeframe": "M1",
              "url": "https://fx-image.ezy-journey.com/TF_M1_cbf30169.png",
              "createdAt": "2026-03-30T04:10:27.054Z"
            }
          ],
          "news": [
            {
              "title": "BOJ Summary of Opinions",
              "country": "JPY",
              "date": "03-29-2026",
              "time": "11:50pm",
              "impact": "Low",
              "forecast": "",
              "previous": "",
              "url": "https://www.forexfactory.com/calendar/633-jn-boj-summary-of-opinions"
            },
            {
              "title": "German Prelim CPI m/m",
              "country": "EUR",
              "date": "03-30-2026",
              "time": "6:29am",
              "impact": "Medium",
              "forecast": "1.1%",
              "previous": "0.2%",
              "url": "https://www.forexfactory.com/calendar/169-ge-prelim-cpi-mm"
            },
            {
              "title": "KOF Economic Barometer",
              "country": "CHF",
              "date": "03-30-2026",
              "time": "7:00am",
              "impact": "Low",
              "forecast": 101.1,
              "previous": 104.2,
              "url": "https://www.forexfactory.com/calendar/301-sz-kof-economic-barometer"
            },
            {
              "title": "M4 Money Supply m/m",
              "country": "GBP",
              "date": "03-30-2026",
              "time": "8:30am",
              "impact": "Low",
              "forecast": "0.1%",
              "previous": "-0.1%",
              "url": "https://www.forexfactory.com/calendar/348-uk-m4-money-supply-mm"
            },
            {
              "title": "Mortgage Approvals",
              "country": "GBP",
              "date": "03-30-2026",
              "time": "8:30am",
              "impact": "Low",
              "forecast": "61K",
              "previous": "60K",
              "url": "https://www.forexfactory.com/calendar/287-uk-mortgage-approvals"
            },
            {
              "title": "Net Lending to Individuals m/m",
              "country": "GBP",
              "date": "03-30-2026",
              "time": "8:30am",
              "impact": "Low",
              "forecast": "5.6B",
              "previous": "5.9B",
              "url": "https://www.forexfactory.com/calendar/343-uk-net-lending-to-individuals-mm"
            },
            {
              "title": "Fed Chair Powell Speaks",
              "country": "USD",
              "date": "03-30-2026",
              "time": "2:30pm",
              "impact": "High",
              "forecast": "",
              "previous": "",
              "url": "https://www.forexfactory.com/calendar/717-us-fed-chair-powell-speaks"
            },
            {
              "title": "FOMC Member Williams Speaks",
              "country": "USD",
              "date": "03-30-2026",
              "time": "8:00pm",
              "impact": "Low",
              "forecast": "",
              "previous": "",
              "url": "https://www.forexfactory.com/calendar/518-us-fomc-member-williams-speaks"
            },
            {
              "title": "BRC Shop Price Index y/y",
              "country": "GBP",
              "date": "03-30-2026",
              "time": "11:01pm",
              "impact": "Low",
              "forecast": "1.3%",
              "previous": "1.1%",
              "url": "https://www.forexfactory.com/calendar/116-uk-brc-shop-price-index-yy"
            },
            {
              "title": "Tokyo Core CPI y/y",
              "country": "JPY",
              "date": "03-30-2026",
              "time": "11:30pm",
              "impact": "Medium",
              "forecast": "1.8%",
              "previous": "1.8%",
              "url": "https://www.forexfactory.com/calendar/175-jn-tokyo-core-cpi-yy"
            }
          ],
          "event": {
            "title": "BoJ Summary of Opinions",
            "country": "JP",
            "impact": "Medium",
            "timeStr": "2026.03.29 23:50",
            "forecast": "N/A",
            "previous": "N/A"
          },
          "rateLimit": {
            "allowed": true,
            "limit": "Unlimited",
            "remaining": "Unlimited",
            "used": 0
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Check Forex Market Hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "News Analyze": {
      "main": [
        [
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTML to Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary": {
      "main": [
        [
          {
            "node": "News Analyze",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send News Analyze": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Forex Market Hours": {
      "main": [
        [
          {
            "node": "Check Market IsOpen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Market IsOpen": {
      "main": [
        [
          {
            "node": "Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML to Image": {
      "main": [
        [
          {
            "node": "Send News Analyze",
            "type": "main",
            "index": 0
          },
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Bangkok",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "97df89e7-3182-4ca1-a71f-daeca76152e0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0a7cc00dc0abb606b48332582a08c146adf1df47d6ac3e4cff394116bc8b7ac4"
  },
  "id": "UYs-4dcN21r6-VVEiMIuX",
  "tags": [
    {
      "updatedAt": "2026-03-25T06:49:19.499Z",
      "createdAt": "2026-03-25T06:49:19.499Z",
      "id": "Kx2KV1e4v0yZClrW",
      "name": "fx-sync"
    }
  ]
}